<doctype html>
    <title>Menu Principal</title>
    <body style="padding:20px">
        <style>
            body{
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(https://external-preview.redd.it/lyugLb90DV5db86bTGyVMbJvQ5dn9naowFPcGke7LXo.jpg?auto=webp&s=da70b075453945912c91f108b3003ab5ead8336d);
            }
            tr{
                color: rgb(11, 11, 204);
            }
            td{
                background-color: rgb(255, 127, 67);
                color: black;
            }
            table{
                background-color: rgb(185, 74, 0);
                border-color: black;
                margin-right: auto;
                margin-left: auto;
            }

            th{
                color: white;
            }
            h1{
                color: white;
                text-align: center;
            }
            div {
                text-align: center;
            }
        </style>
        <h1>Base de Dados</h1>
        <table id="menu">
            <thead>
            <tr>
                <th>Menu</th>
            </tr>
            </thead>
            <tr><td><a href="responsavel_por">Responsável Por</a></td></tr>
            <tr><td><a href="categorias_simples">Categorias Simples</a></td></tr>
            <tr><td><a href="super_categorias">Super-Categorias</a></td></tr>
            <tr><td><a href="tem_outra">Tem Outra</a></td></tr>
            <tr><td><a href="ivms">IVMs</a></td></tr>
            <tr><td><a href="retalhistas">Retalhistas</a></td></tr>
            
        </table>
    </body>
</doctype>